body {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  margin: 0;
  background-color: #5d5c61;
}

.container {
  position: relative;
  grid-column: 2;
  min-height: 100vh;
  background-color: #99B2BF;
  font-size: 1.1em;
}

/* Navigation bar*/
nav {
  background-color: #303030;
}

nav ul {
  margin-top: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: inherit;
  padding: 10px;
  font-family: "Verdana", "Arial", sans-serif;
  font-weight: bold;
  color: antiquewhite;
  text-decoration: none;
}

nav a:hover {
  background-color: #303030;
}

nav a:visited {
  color: #faebd7;
}

nav a:hover {
  color: #faebd7;
}

section {
  margin: 0 10px;
}

/* Personal info */
#personal-info img {
  float: left;
  width: 200px;
  height: 240px;
  margin: 0 15px 15px 0;
}

.contact-info {
  text-align: left;
}

.contact-info th {
  font-family: "Verdana", "Arial", sans-serif;
  font-size: small;
}

.summary {
  clear: both;
}

#skills ul {
  list-style-type: none;
  line-height: 1.5em;
}

h1 {
  display: inline-block;
  margin-top: 0;
  border-bottom: solid;
  text-transform: uppercase;
  word-spacing: 0.3em;
}

h1, h3, ul strong, .contact-info th {
  font-family: "Verdana", "Arial", sans-serif;
  color: #303030;
}

footer {
  position: absolute;
  margin: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #faebd7;
  background-color: #303030;
  text-align: center;
  font-style: italic;
}
